<nav class="navbar navbar-expand-sm" style="width:85%; margin-left: 72px; margin-top: 20px;margin-bottom: 2%;">
	<ul class="navbar-nav" style="margin-left: 600px;">
		<li class="nav-item">
			<button type="button" class="btn btn-outline-primary float-right m-2" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
				<i class="fa-solid fa-plus" style="color: #0275d8;"></i> Ajouter 
			</button>
			</li>
		

	</ul>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel" style="color: rgb(42, 106, 243);margin-left: 20%;">Enregistrer Norme</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button> 
			</div>
			<div class="modal-body">
				<div class="card">
					<app-add-edit-norme></app-add-edit-norme>
					<div class="card-body"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<table class="table table-striped" style="width:70%;margin-left: 100px; margin-right: 400px;" >
	<thead style="background-color: #CAF0F8">
		<tr>
			<!--<th (click)="sort('id')">
				<div class="d-flex flex-row">
					<input type="text" class="form-control" placeholder="Filter ID ">
				</div> <i class="fa fa-sort"></i>

				NormeId &nbsp;
			</th>-->
			<th>
				<!--<div class="d-flex flex-row">
					<input type="text" class="form-control" placeholder="Filter Name " name="designation" [(ngModel)]="designation" (ngModelChange)="Search()">
				</div> <i class="fa fa-sort"></i> -->
				Name &nbsp;
			</th>
			<th style="padding-left: 450px;">Options</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let dataItem of NormeList |orderBy: key: reverse | paginate: {itemsPerPage: 3 , currentPage : p} ;">
			<td>{{dataItem.designation}}</td>
			<td style="padding-left: 420px;">

				<button type="button" class="btn btn-xs" style="background-color: transparent ;border-color:#73777B ;" class="btn btn-light mr-1" data-toggle="modal" data-target="#exampleModal" (click)="ChangeData(dataItem)">
					<i class="fa fa-pencil-square-o" style="color:#73777B ;"></i>
				</button>&nbsp;
				<button type="button" class="btn btn-primary btn-xs" style="border-color: #DD4A48 ;background-color: transparent;" (click)="deleteClick(dataItem)" data-backdrop="static" data-keyboard="false" > <i class="fa-solid fa-trash" style="color:#DD4A48 ; "></i>                  
				</button> &nbsp;
				<button (click)="detnorme(dataItem)" type="button" class="btn btn-primary btn-xs" style="background-color: transparent; border-color:#73777B ">
					<i class="fa-solid fa-circle-info"  style="color:#73777B "></i>
				</button> 


			</td>
		</tr>
	</tbody>
	<pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel=""></pagination-controls>
</table>
