<div  style="margin-top: 1em;" >
    

        <div class="container">
           
                <div class="col-md-5" style="margin-right:30px ; box-shadow: none;">
                    <div >
                        <!-- the blue line on top -->
                        <div *ngFor="let dataItem of localService.detFiliale">
                                

                                <ul class="text-default-d3 text-90 text-600" style="list-style-type: circle;  list-style-position: inside; ">
                                    <li style="font-size: 1rem;   font-weight: bold;">
                                        {{dataItem.localdescription}} 
                                    </li>
                                </ul>

                            
                        </div>
                    </div>
                </div>
            
        </div>
    
</div>