
      <div class="full_container">
         <div class="inner_container">
            <app-nav></app-nav> 
            <!-- Sidebar  -->
            <!-- end sidebar -->
            <!-- right content -->
               <!-- topbar -->
               <!-- end topbar -->
               <!-- dashboard inner -->
               
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Les utilisateurs</h2>
                           </div>


                        </div>
                     </div>
                     <!-- row -->
                     

                     <div class="row column1">
                        <button type="button"   class="fa fa-plus btn btn-outline-primary float-right  m-2" style="width: 150px;
                        " data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
                           Ajouter
                        </button> <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                           <div class="modal-dialog">
                              <div class="modal-content">
                                 <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="padding-left:40% ;color: rgb(42, 106, 243);">User</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                       <span aria-hidden="true">&times;</span>
                                    </button>
                                 </div>
                                 <div class="modal-body">
                                    <div class="card">
                                    <!--   <app-add-edit-user></app-add-edit-user>-->
                                       <div class="card-body">
                                          <app-add-edit-user></app-add-edit-user>
                                          <button type="button" class="btn btn-secondary" style="margin-left: 190px; margin-top: -25%;" data-dismiss="modal">Fermer</button>

                                       </div>
                                       
                                    </div>
                                    
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-12" >
                           <div class="white_shd full margin_bottom_30">   
                              <app-lister-users></app-lister-users>    
                           </div>
                        </div>
                        <!-- end row -->
                     </div>
                  </div>
                  <!-- end dashboard inner -->
               </div>
            
         </div>










         