
      <div class="full_container">
         <div class="inner_container">
            <app-nav></app-nav> 
            <!-- Sidebar  -->
            <!-- end sidebar -->
            <!-- right content -->
               <!-- topbar -->
               <!-- end topbar -->
               <!-- dashboard inner -->
               
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Contacts</h2>
                           </div>


                        </div>
                     </div>
                     <!-- row -->
                     

                     <div class="row column1">
                        <button type="button" style="margin-left: 300px;"  class="fa fa-plus btn btn-outline-primary  m-2" style="width: 150px;
                        " data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
                           Ajouter
                        </button> <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                           <div class="modal-dialog">
                              <div class="modal-content">
                                 <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="padding-left:40% ;color: rgb(42, 106, 243);">User</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                       <span aria-hidden="true">&times;</span>
                                    </button>
                                 </div>
                                 <div class="modal-body">
                                    <div class="card">
                                       <app-add-edit-user></app-add-edit-user>
                                       <div class="card-body"></div>
                                    </div>
                                    
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-12">

                           <div class="white_shd full margin_bottom_30">
                              
                              <div class="full price_table padding_infor_info">

                                 <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30"*ngFor="let dataItem of menberList" style="margin-top:30px ;">
                                       <div class="contact_blog">
                                          <div class="contact_inner">
                                             <div class="left">
                                                <h3>{{dataItem.userName}}</h3>
                                                <p><strong>About: </strong>Responsables de la filiale {{dataItem.Filile}} à {{dataItem.Filoc}}</p>
                                                <ul class="list-unstyled">
                                                   <li><i class="fa fa-envelope-o"></i> {{dataItem.email}}</li>
                                                   <li><i class="fa fa-phone"></i> {{dataItem.mobile}}</li>
                                                </ul>
                                             </div>
                                             <div class="right">
                                                <div class="profile_contacts">
                                                   <img class="img-responsive" src="assets/images/layout_img/msg2.png" alt="#" />
                                                </div>
                                             </div>
                                             <div class="bottom_list">
                                                
                                                <div class="right_button">
                                                   <button type="button" class="btn fa-solid fa-trash-can btn-outline-danger btn-primary btn-xs"  > <i class=""></i>
                                                   
                                                   </button> &nbsp;
                                                   <button type="button" class="btn fa-solid fa-eye btn-xs btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal" (click)="ChangeData(dataItem)">
                                                     
                                                   </button>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <!-- end column contact blog -->
                                </div>
                              </div>
                           </div>
                        </div>
                        <!-- end row -->
                     </div>
                  </div>
                  <!-- end dashboard inner -->
               </div>
            
         </div>










         