<div class="row column1">
	<div class="col-md-6 col-lg-4" *ngFor="let dataItem of filList">
		<div class="full white_shd margin_bottom_30">
			<div class="info_people">
				<div class="p_info_img">
					<img src="{{dataItem.image}}" alt="#"/>
				</div>
				<div class="user_info_cont">
					<h4>{{dataItem.filialName}}</h4>
					<p>Pole :</p>
					<p class="p_status">{{dataItem.polename}}</p>
					<button type="button" class="btn fa fa-trash btn-light mr-1 " (click)="deleteClick(dataItem)" data-backdrop="static" data-keyboard="false"></button>
					<button type="button" class="btn fa fa-pencil-square-o btn-light mr-1 " data-toggle="modal" data-target="#exampleModal" (click)="ChangeData(dataItem)"></button>
					<button type="button" class="btn fa fa-pencil-square-o btn-light mr-1 " data-toggle="modal" data-target="#exampleModal" (click)="ChangeData(dataItem)"></button>
				</div>

			</div>

		</div>
	</div>

</div>
