<div class="full_container">
	<div class="inner_container">

		<app-nav></app-nav>
		<div class="container">

			<h5 class="d-flex justify-content-center">Gestion des Locaux
			</h5>


			<!-- Button trigger modal -->
			<button type="button" style="margin-left: 300px;" class="fa fa-plus btn btn-outline-primary float-right m-2" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
				Ajouter
			</button>

			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Ajouter</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="card">

								<div class="card-body">
									<form (ngSubmit)="saveData()" [formGroup]="formCum">
										<div class="form-row">
											<div class="input-group">
												<input type="hidden" formcontrolname="locallId">
												<div class="col-md-6 mb-3">
													<label>Enter un local
													</label>
													<input type="text" class="Form-Control" placeholder="Nom" formControlName="localdescription" required>
													
												</div>
											</div>
												<div class="input-group">

													<label style="margin-left: 15px;" for="validationCustom01" >
														Sélectionnez une filiale 
													</label>
													<select  style="margin-left: 15px; width: 360px;" class="form-control form-control-sm"
												id="validationCustom01"  formControlName="Filialeid"
												[ngClass]="(formCum.controls['Filialeid'].touched ||formCum.controls['Filialeid'].dirty) && formCum.controls['Filialeid'].hasError('required')? 'is-invalid' : '' ||((formCum.controls['Filialeid'].touched || formCum.controls['Filialeid'].dirty) && !formCum.controls['Filialeid'].invalid) ? 'is-valid': ''">
												<option *ngFor="let dataItem of filList"   [value]="dataItem.filialId">{{dataItem.filialName}}</option>
												</select>
												<div class="invalid-feedback" style="margin-left: 13px;">   la filiale  est  
													obligatoire
												</div>
											</div>

										</div>
										<input type="hidden" formcontrolname="Filialeid">

										<button type="button" class="btn btn-primary float-right" type="submit">Enregistrer
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<table class="table " id="center" style="width:85%;">
				<thead style="background-color: #CAF0F8">
					<tr>
						<th>localdescription</th>
						<th>Filiale Name </th>
						<th>Options</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let dataItem of CritereList">
					
						<td>{{dataItem.localdescription}}</td>
						<td>{{dataItem.fliname}}</td>

						<td style="width:20%;">
							<button type="button" class="btn fa-solid fa-trash-can btn btn-outline-danger mr-1" (click)="deleteClick(dataItem)" data-backdrop="static" data-keyboard="false"></button>
							<button type="button" class="fa-solid fa-pen-to-square btn btn-outline-secondary  mr-1" data-toggle="modal" data-target="#exampleModal" (click)="ChangeData(dataItem)"></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
