
          
    <div class="full_container">
        <div class="inner_container">
           <!-- Sidebar  -->
           <!-- end sidebar -->
           <!-- right content -->
           <app-nav></app-nav>
           
              <!-- topbar -->
              <!-- end topbar -->
              <!-- dashboard inner -->
              <div class="midde_cont">
                 <div class="container-fluid">
                    <div class="row column_title">
                       
                       <div class="col-md-12">
                         <div class="page_title">
                            <h2>Les filiales de Poulina Group Holding </h2>
                         </div>



                      </div>

                    </div>
                    <!-- row -->
                    <app-lister></app-lister>
                    <!-- end row -->
  
                    
                 <!-- footer -->
                 <div class="container-fluid">
                    <div class="footer">
                       
                    </div>
                 </div>
              </div>
              <!-- end dashboard inner -->
           
        </div>
     </div>