
          
    <div class="full_container">
        <div class="inner_container">
           <!-- Sidebar  -->
           <!-- end sidebar -->
           <!-- right content -->
           <app-nav></app-nav>
           
              <!-- topbar -->
              <!-- end topbar -->
              <!-- dashboard inner -->
              <div class="midde_cont">
                 <div class="container-fluid">
                    <div class="row column_title">
                       
                       <div class="col-md-12">
                         <div class="page_title">
                            <h2>Les filiales de Polina Group Holding </h2>
                         </div>
                      </div>
                    </div>
                    <!-- row -->
                    <app-lister></app-lister>
                    <!-- end row -->
                    <button type="button" class="fa fa-plus-circle btn btn-light float-right m-2" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
                     Ajouter 
                  </button>
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                     <div class="modal-dialog">
                        <div class="modal-content">
                           <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">filiale</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                              </button>
                           </div>
                           <div class="modal-body">
                              <div class="card">
                                 <app-add-edit></app-add-edit>
                                 <div class="card-body"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                 <!-- footer -->
                 <div class="container-fluid">
                    <div class="footer">
                       
                    </div>
                 </div>
              </div>
              <!-- end dashboard inner -->
           
        </div>
     </div>