
          
    <div class="full_container">
        <div class="inner_container">
           <!-- Sidebar  -->
           <!-- end sidebar -->
           <!-- right content -->
           <app-nav></app-nav>
           
              <!-- topbar -->
              <!-- end topbar -->
              <!-- dashboard inner -->
              <div class="midde_cont">
                 <div class="container-fluid">
                    <div class="row column_title">
                       
                       <div class="col-md-12">
                         <div class="page_title">
                            <h2>Plan d'action</h2>
                         </div>
                      </div>
                    </div>
                    <!-- row -->
                    <div class="row column1" >
                       <div class="col-md-6 col-lg-4" *ngFor="let dataItem of filList">
                          <div class="full white_shd margin_bottom_30">
                             <div class="info_people">
                                <div class="p_info_img">
                                   <img src="{{dataItem.image}}" alt="#" />
                                </div>
                                <div class="user_info_cont">
                                   <h4>{{dataItem.filialeName}}</h4>
                                   <p>Pole :</p>
                                   <p class="p_status">{{dataItem.filialeId}}</p>
                                </div>
                             </div>
                          </div>
                       </div>
                       
                    </div>
                    <!-- end row -->
                    
                 <!-- footer -->
                 <div class="container-fluid">
                    <div class="footer">
                       
                    </div>
                 </div>
              </div>
              <!-- end dashboard inner -->
           
        </div>
     </div>