
    <div class="full_container">
        <div class="inner_container">
           <!-- Sidebar  -->
           <!-- end sidebar -->
           <!-- right content -->
           <app-nav></app-nav>
           <div class="midde_cont">
                <div class="container-fluid">
                <div class="row column_title">
                    
                    <div class="col-md-12">
                        <div class="page_title">
                        <h2>Les Locaux  de Polina Group Holding </h2>
                        </div>

                        <app-local-list></app-local-list>
                </div>
                
            </div>       
        </div>
    </div>    