<form (ngSubmit)='saveData()' [formGroup]="normeService.formCum">


	<input type="hidden" formControlName="normeId">
	<div class="form-row">
		<div class="col-md-6 mb-3">
			<br>
			<label style="width: 200px; margin-left: 5px;">&nbsp; Enter le nom du norme :
			</label>
			<br>
			<input type="text" class="form-control" class="form-control input-sm" placeholder="Nom" id="" formControlName="designation" style="width: 250px; margin-left: 5px;" 
			[ngClass]="
            (normeService.formCum.controls['designation'].touched ||
            normeService.formCum.controls['designation'].dirty) &&
            normeService.formCum.controls['designation'].hasError('required')
            ? 'is-invalid'
            : ''|| (normeService.formCum.controls['designation'].touched ||
			normeService.formCum.controls['designation'].dirty) &&
                !normeService.formCum.controls['designation'].invalid
            ? 'is-valid'
            : ''
            "> 
			<div style="margin-left: 6%;" class="invalid-feedback">la designation est obligatoire</div>
		</div>

	</div>

	<button type="button" class="btn  btn-primary" type="submit" style="margin-left: 15%; margin-top: 15px;">Enregister
	</button>
</form>
