<form (ngSubmit)='saveData()' [formGroup]="formCum" >
	<input type="hidden" formcontrolname="filialeId" >
	<div class="form-row">

		<div class="col-md-6 mb-3">
			<label style="margin-left: 15px;" for="validationCustom01" >Enter le nom de filiale
			</label>
			<input type="text" style="margin-left: 15px; width: 360px;" class="form-control form-control-sm" placeholder="Nom" formControlName="filialName" id="validationCustom01" 
			[ngClass]="(formCum.controls['filialName'].touched ||formCum.controls['filialName'].dirty) && formCum.controls['filialName'].hasError('required')? 'is-invalid' : '' ||((formCum.controls['filialName'].touched || formCum.controls['filialName'].dirty) && !formCum.controls['filialName'].invalid) ? 'is-valid': ''">
          <div class="invalid-feedback" style="margin-left: -60px;"> le nom de filiale 
            obligatoire</div>
          
		</div>

	</div>
	<input type="hidden" formControlName="poleId">
	<button style="width: 225px; margin-left: 25%; margin-top:30px;" class="btn btn-primary " type="submit">Enregister
	</button>
	</form>
