<form (ngSubmit)='saveData()' [formGroup]="this.filialeService.formCum" >
	<input type="hidden" formcontrolname="filialeId" >
	<div class="form-row">

		<div class="col-md-6 mb-3">
			<div class="input-group">
					<input type="hidden" formControlName="filialId">
					<label style="margin-left: 15px;" for="validationCustom01" >Enter le nom de filiale
					</label>
					<input type="text" style="margin-left: 15px; width: 360px;" class="form-control form-control-sm" placeholder="Nom"   formControlName="filialName" id="validationCustom01" >
				<div class="invalid-feedback" style="margin-left: 13px;"> le nom de filiale 
					obligatoire
				</div>
			</div>
			<div class="input-group" *ngIf="this.filialeService.formCum.controls['filialId'].value == '00000000-0000-0000-0000-000000000000' " >

					<label style="margin-left: 15px;" for="validationCustom01" >
						Sélectionnez un pole 
					</label>
					<select  style="margin-left: 15px; width: 360px;" class="form-control form-control-sm"
					id="validationCustom01"  formControlName="poleId"
					[ngClass]="(formCum.controls['poleId'].touched ||formCum.controls['poleId'].dirty) && formCum.controls['poleId'].hasError('required')? 'is-invalid' : '' ||((formCum.controls['poleId'].touched || formCum.controls['poleId'].dirty) && !formCum.controls['poleId'].invalid) ? 'is-valid': ''">
					<option *ngFor="let dataItem of service.PoleList"   [value]="dataItem.poleId">{{dataItem.poleName}}</option>
					</select>
				<div class="invalid-feedback" style="margin-left: 13px;">   le pole est  
					obligatoire
				</div>
			</div>
		</div>
		

	</div>
	<input type="hidden" formControlName="poleId">
	<button style="width: 105px; margin-left: 25%; margin-top:30px;" class="btn btn-primary " type="submit">Enregister
	</button>
	</form>
