<div class="container">
	<div class="row justify-content-sm-center">
		<div class="col-sm-6 shadow round pb-3">
			<!--  <form [formGroup]="exform" style="width: 300px;" (ngSubmit)="saveData()">
			        <div class="form-group">
			          <input type="hidden" formControlName="userId" class="form-control form-control-sm" >
			          </div>
			        <div class="form-group">
			          <label class="col-form-label" style="margin-left: -60px;">Entrer le Nom:</label>
			          <input   type="text" style="margin-left: -60px;" formControlName="userName" class="form-control form-control-sm" [ngClass]="(exform.controls['name'].touched ||exform.controls['name'].dirty) && exform.controls['name'].hasError('required')? 'is-invalid' : '' ||((exform.controls['name'].touched || exform.controls['name'].dirty) && !exform.controls['name'].invalid) ? 'is-valid': ''">
			          <div class="invalid-feedback" style="margin-left: -60px;"> le nom est
			            obligatoire</div>
			          </div>
			        <div class="form-group">
			          <label class="col-form-label" style="margin-left: -60px;">Email:</label>
			          <input type="mail" class="form-control form-control-sm" formControlName="email" style="margin-left: -60px;" [ngClass]="(exform.controls['mail'].touched ||exform.controls['mail'].dirty) && exform.controls['mail'].hasError('required')? 'is-invalid' : '' ||((exform.controls['mail'].touched || exform.controls['mail'].dirty) && !exform.controls['mail'].invalid) ? 'is-valid': ''">
			          <div class="invalid-feedback" style="margin-left: -60px;"> le mail est
			            obligatoire</div>
			        </div>
			        <div class="form-group">
			          <label class="col-form-label" style="margin-left: -60px;">Mot de passe:</label>
			          <input type="mail" class="form-control form-control-sm" formControlName="userpassword" style="margin-left: -60px;" [ngClass]="(exform.controls['mail'].touched ||exform.controls['mail'].dirty) && exform.controls['mail'].hasError('required')? 'is-invalid' : '' ||((exform.controls['mail'].touched || exform.controls['mail'].dirty) && !exform.controls['mail'].invalid) ? 'is-valid': ''">
			          <div class="invalid-feedback" style="margin-left: -60px;"> le mail est
			            obligatoire</div>
			        </div>
			        <div class="form-group">
			          <label class="col-form-label" style="margin-left: -60px;">Confirmer mot de passe :</label>
			          <input type="mail" class="form-control form-control-sm" formControlName="confPass" style="margin-left: -60px;" [ngClass]="(exform.controls['mail'].touched ||exform.controls['mail'].dirty) && exform.controls['mail'].hasError('required')? 'is-invalid' : '' ||((exform.controls['mail'].touched || exform.controls['mail'].dirty) && !exform.controls['mail'].invalid) ? 'is-valid': ''">
			          <div class="invalid-feedback" style="margin-left: -60px;"> le mail est
			            obligatoire</div>
			        </div>
			        <div class="form-group">
			        <label style="margin-left: -60px;"> Sélectionnez  une filiale </label>
			        <select   type="text" style="margin-left: -60px;" class="custom-select form-control-sm"  formControlName="filialName" [ngClass]="(exform.controls['filialName'].touched ||exform.controls['filialName'].dirty) && exform.controls['filialName'].hasError('required')? 'is-invalid' : '' ||((exform.controls['filialName'].touched || exform.controls['filialName'].dirty) && !exform.controls['filialName'].invalid) ? 'is-valid': ''">
			          <option *ngFor="let fil of filialeService.filList " [ngValue]="fil">
			            {{fil.filialName}}
			          </option>
			      </select>
			        <div class="invalid-feedback" style="margin-left: -60px;"> selectionnez une filiale  est
			          obligatoire</div>
			        </div>
			        <button type="button" [disabled]="exform.invalid" type="submit" class="btn btn-primary" >Enregistrer 
			
			        </button>
			        
			          <button type="button" class="btn btn-light">Annuler
			          </button>
			    
			      </form>-->
			<!--Methode2 -->
				<form style="width: 300px;" [formGroup]="registerForm" (ngSubmit)="onSubmit()"> <div class="form-group">
					<label class="col-form-label" style="margin-left: -60px;">Entrer le Nom:</label>
					<input type="text" style="margin-left: -60px;" formControlName="fullName" class="form-control form-control-sm">
					<div class="invalid-feedback" style="margin-left: -60px;">
						le nom est
						        obligatoire</div>
				</div>
				<div class="form-group">
					<label class="col-form-label" style="margin-left: -60px;">Entrer un Email:</label>
					<input type="mail" class="form-control form-control-sm" formControlName="email" style="margin-left: -60px;">
				</div>
				<div class="form-group">
					<label class="col-form-label" style="margin-left: -60px;">Mot de passe:</label>
					<input type="password" class="form-control form-control-sm" formControlName="password" style="margin-left: -60px;">
					<div class="invalid-feedback" style="margin-left: -60px;">
						le mot de passe est
						          obligatoire</div>
				</div>
				<div class="form-group"><!-- <input type="password" name="confirmpassword" class="form-control"placeholder="Confirmer Password" required > -->
					<!-- <p class="alert alert-danger" *ngIf="password.value!==confirmpassword.value && password.touched"></p>-->
				</div>
				<!-- div class="form-group">
				        <label class="col-form-label" style="margin-left: -60px;">Confirmer mot de passe :</label>
				        <input type="password" class="form-control form-control-sm" formControlName="formControlName="password"" style="margin-left: -60px;"  > le mot de passe est
				          obligatoire</div-->
				      
 
				      <select     class="form-control form-control-sm"
												id="validationCustom01"   formControlName="filalelId"  >
				        <option *ngFor="let dataItem of filList" [value]="dataItem.filialId">
				          {{dataItem.filialName}}
				        </option>
 </select>
				<div class="row mb-3">
					<label for="inputPassword" class="col-form-label" style="margin-left: -60px;">Role</label>
					<div class="col-sm-2">
						<div class="form-check" *ngFor="let role of roles;let index=index">
							<input class="form-control form-control-sm" class="form-control form-control-sm" style="margin-left: -60px; " type="checkbox" name="role" [checked]="role.isSelected" (change)="onRoleChange(role.role)" id="{{index}}">
							<label class="col-form-label" for="{{index}}">
								{{role.role}}
							</label>
						</div>
					</div>

				</div>
				<button type="button" [disabled]="!registerForm.valid || !isRoleSelected" type="submit" class="btn btn-primary">Enregistrer

				</button>

			</form>


		</div>
	</div>
</div>
