<div class="full_container">
	<div class="inner_container">
		<app-nav></app-nav>

		<div class="">
			<div class="white_shd full margin_bottom_30">
				<div class="full graph_head">
					<div class="heading1 ">
						<h2>
							Evaluation des filiales :
						</h2>
					</div>
				</div>
					

					<table class="table table-striped">
						<thead>
							<tr>
								<th>
									<div class="d-flex flex-row">
										<select class="form-control" [(ngModel)]="data" (ngModelChange)="refreshLocList(data)">

											<option *ngFor="let fil of filList " [ngValue]="fil">
												{{fil.filialName}}
											</option>
										</select>


									</div>

								</th>
								<th>
									<div class="d-flex flex-row">
										<select class="form-control" [(ngModel)]="selectedObject1" *ngIf="isShown">

											<option value="" disabled selected hidden>Local
											</option>
											<option *ngFor="let loc of LocalList " [ngValue]="loc">
												{{loc.localdescription}}
											</option>
										</select>


									</div>
								</th>
								<th>
									<div class="d-flex flex-row">
										<input class="form-control" type="month" id="start" name="trip-start" min="2022-01-01" max="2023-12-31">
									</div>
								</th>
							</tr>
						</thead>
					</table>

					<div class="full inner_elements">
						<div class="row">
							<div class="col-md-12">
								<div class="tab_style2">
									<div class="tabbar padding_infor_info">
										<nav>
											<div class="nav nav-tabs" id="nav-tab1" role="tablist">
												<a class="nav-item nav-link" id="nav-profile-tab2" data-toggle="tab" href="#nav-home_s2" role="tab" aria-controls="nav-profile_s2" aria-selected="false" *ngFor="let dataItem of NormeList ;" (click)="refreshcriList(dataItem)">{{dataItem.designation}}
												</a>

											</div>
										</nav>
										<div class="tab-content" id="nav-tabContent_2" *ngIf="isShown1">
											<div class="tab-pane fade show active" id="nav-home_s2" role="tabpanel" aria-labelledby="nav-home-tab">
                        <form [formGroup]="NotationForm" (ngSubmit)="onSubmit()">
                          <div formArrayName="skills">
												<table class="table table-bordered"> 
													<thead>
														<tr>
															<th>criteres</th>
															<th>Note</th>
															<th>
																<i class="fa fa-star-half-o" aria-hidden="true"></i>
															</th>
															<th>comentaire</th>
															<th colspan="2">Ratachement</th>
														</tr>
													</thead>

													<tbody> 
                            
														<tr *ngFor="let skill of skills.controls; let i=index">

															<td>{{i}}</td>
															<td>
																<div class="input-group mb-3">
																	<input type="text" class="form-control" style="width: 50px;" placeholder="?/20" aria-describedby="basic-addon2" (keyup)="mention()" formControlName="TypeNote">
																	<div class="input-group-append">
																		<button class="btn cur-p btn-light fa fa-check-circle" type="button"></button>
																	</div>
																</div>
															</td>
															<td>
															</td>
															<td type="hidden" formControlName="ID"></td>
															<td>
																<div class="timeline-panel">
																	<div class="timeline-body" >
																		<input class="form-control input-md" id="myInput" placeholder="comentaire" type="text" required="required" formControlName="comentaire">
																	</div>
																</div>
															</td>
															<td>
																<input type="file"  formControlName="image">
																<i class="fa fa-camera" aria-hidden="true"></i>
															</td>
															<td>
																<button class="fa fa-check-circle cur-p btn-light" ></button>
															</td>
														</tr>
													</tbody>
                        
												</table>
                      </div>
                      </form>
												<button class="btn-light float-right">
													VALIDER
												</button>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
 
{{this.NotationForm.value | json}}
 