<div class="full_container">
	<div class="inner_container">
		<app-nav></app-nav>

		<div class="">
			<div class="white_shd full margin_bottom_30">
				<div class="full graph_head">
					<div class="heading1 ">
						<h2>
							Evaluation des filiales :
						</h2>
					</div>
				</div>
				<form [formGroup]="formCum">
					<thead>
						<div>
							<div>
								<div class="d-flex flex-row">
									<select class="form-control" formControlName="filialName" (click)="refreshLocList()">
										<option *ngFor="let fil of filList " [value]="fil.filialId">
											{{fil.filialName}}
										</option>
									</select>


								</div>

							</div>
							<div>
								<div class="d-flex flex-row">
									<select class="form-control" formControlName="localdescription" *ngIf="isShown" (change)="onChangeCriterion()">

										<option value="" disabled selected hidden>Local
										</option>
										<option *ngFor="let loc of LocalList " [value]="loc.localdescription">
											{{loc.localdescription}}
										</option>
									</select>


								</div>
							</div>
							<div>
								<div class="d-flex flex-row">
									<input class="form-control" type="date" formControlName="Date">
								</div>
							</div>
						</div>
					</thead>
				</form>

				<pre>{{AddOrEditNotationForm.value.NoteArray | json}}</pre>
				<div class="full inner_elements">
					<div class="row">
						<div class="col-md-12">
							<div class="tab_style2">
								<div class="tabbar padding_infor_info">


									<form [formGroup]="AddOrEditNotationForm" autocomplete="off" (ngSubmit)="onSubmit()">
										<div formArrayName="NoteArray">

											<ul class="nav nav-tabs p-3 rounded" id="groupeTap" role="tablist">
												<ng-container *ngFor="let cretrionGroup of listGroupedCriterions ">
													<li class="nav-item ">
														<a class="nav-link p-3 rounded text-black" [attr.id]="cretrionGroup?.normename+'-Tab'" data-toggle="tab" [attr.href]="'#'+cretrionGroup?.normename" role="tab" [attr.aria-controls]="cretrionGroup?.normename" aria-selected="true">
															<b>{{cretrionGroup?.normename}}</b>

														</a>
													</li>
												</ng-container>
											</ul>
											<div class="tab-content" id="groupeTapContent">
												<ng-container *ngFor="let cretrionGroup of listGroupedCriterions">
													<div class="tab-pane fade show " [attr.id]="cretrionGroup?.normename" role="tabpanel" [attr.aria-labelledby]="cretrionGroup?.normename+'-Tab'">
														<table class="table table-hover">
															<thead class="badge-info p-2">
																<tr class="text-center">
																	<th>#</th>
																	<th>Critere</th>
																	<th>Norme</th>
																	<th>Note</th>
																	<th></th>
																	<th>Commentaire</th>
																	<th></th>
																	<th>Image</th>
																	<th></th>
																</tr>
															</thead>
   
															<tbody>

																<tr class="" *ngFor="let item of cretrionGroup.criterionDTOs;let i=index">
																	<ng-container [formGroupName]="item.index">
																		<td>{{item.index}}</td>
																		<td>{{item.criterelabel}}</td>
																		<td>
																			<span class="badge bg-success">{{item.normename}}</span>
																		</td>
																		<td class="">
																			<div class="input-group mb-3">
																				<input type="number" class="form-control" style="width: 50px;" placeholder="?/20" aria-describedby="basic-addon2" formControlName="note">
																				<div class="input-group-append">
																					<button class="btn cur-p btn-light fa fa-check-circle" type="button"></button>
																				</div>
																			</div>
																		</td>
																		<td></td>
																		<td type="hidden"></td>
																		<td>
																			<div class="timeline-panel">
																				<div class="timeline-body">
																					<input class="form-control input-md" id="myInput" placeholder="comentaire" type="text" required="required" formControlName="comment">
																				</div>
																			</div>
																		</td>
																		<td>
																			<input type="file" formControlName="image">
																			<i class="fa fa-camera" aria-hidden="true"></i>
																		</td>
																	</ng-container>

																</tr>
															</tbody>


														</table>
													</div>
												</ng-container>
											</div>
											<button type="submit" class="btn btn-outline-info btn-sm">
												<i class="fas fa-solid fa-paper-plane mr-2"></i>
												Envoyer</button>
										</div>
									</form>

								</div>
							</div>

						</div>
					</div>
				</div>
