

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-sm-3" *ngFor="let dataItem of LocList"> 
            <div class="card-box bg-blue">
                <div class="inner">
                    <h3> {{dataItem.Somme}}  </h3>
                    <p> Filiales  à {{dataItem.localdescription}}  </p>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <a href="#" class="card-box-footer">Plus d'info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        
    </div>

</div>

