<div class="full_container">
	<div class="inner_container">

		<app-nav></app-nav>
		<div class="container">
                       
				 <div class="full graph_head"  style="margin-top: -5%; margin-bottom: 1%;">
					<div class="heading1 ">
						<h2>Gestion des criteres d'evaluations
						</h2>
					</div>


				</div>

			
			<nav class="navbar navbar-expand-sm bg-light" style="width:85%; margin-left: 72px; margin-top: 30px;margin-bottom: -6%;">
				<ul class="navbar-nav" style="margin-left: 600px;">
					<li class="nav-item">
						<button routerLink="/gnorme" class="btn btn-outline-primary float-right m-2">
							<i class="fa fa-arrow-left" aria-hidden="true"> </i> &nbsp; Norme
						</button>
						</li>
					<li class="nav-item">
						<button type="button" class="btn btn-outline-primary float-right m-2" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
							<i class="fa-solid fa-plus" style="color: #0275d8;"></i> Ajouter 
						</button>
						</li>

				</ul>
			</nav>

			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
					<div class="modal-content" style=" width: 350px;margin-left: 30%;">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel" style="color: #0275d8;">Critére </h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="card" style="width: 320px;">

								<div class="card-body">
									<form (ngSubmit)="saveData()" [formGroup]="formCum">
										<div class="form-row">
											<input type="hidden" formcontrolname="critereId">
											<div class="col-md-6 mb-3" >
												<div class="imput-group">
												<label style="width: 300px; margin-left: 40px;">Enter le critere:
												</label>
												<input  type="text" style="margin-left: 40px;" class="Form-Control" placeholder="Nom" formControlName="criterelabel" [ngClass]="
												(formCum.controls['criterelabel'].touched ||
												formCum.controls['criterelabel'].dirty) &&
												formCum.controls['criterelabel'].hasError('required')
												? 'is-invalid'
												: ''|| (formCum.controls['criterelabel'].touched ||
													formCum.controls['criterelabel'].dirty) &&
													!formCum.controls['criterelabel'].invalid
												? 'is-valid'
												: ''
												">
												<div style="margin-left: 6%;" class="invalid-feedback">le nom est obligatoire</div>
											</div>
											</div>

										</div>
										<input type="hidden" formcontrolname="normeId">

										<button type="button" class="btn btn-primary " style="margin-left: 40px;" type="submit">Enregistrer 
										</button>
										<button type="button" class="btn btn-secondary" style="margin-left: 140px; margin-top: -19%;" data-dismiss="modal">Fermer</button>

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<table class="table " id="center" style="width: 85%;">
				<thead class="table-success" style="background-color: #CAF0F8
				;">
					<tr>
						<th>CritereName</th>
						<th >Options</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let dataItem of CritereService.CritereList">
						
						<td>{{dataItem.criterelabel}}</td>
						
						<td style="width:20%;">
							<button type="button" class="btn btn-primary btn-xs" style="border-color: #DD4A48 ;background-color: transparent;" (click)="deleteClick(dataItem)" data-backdrop="static" data-keyboard="false" > <i class="fa-solid fa-trash" style="color:#DD4A48 ; "></i>                  
							</button> &nbsp;
							<button type="button" class="btn btn-xs" style="background-color: transparent ;border-color:#73777B ;" class="btn btn-light mr-1" data-toggle="modal" data-target="#exampleModal" (click)="ChangeData(dataItem)">
								<i class="fa fa-pencil-square-o" style="color:#73777B ;"></i>
							</button>

						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
