<div class="full_container">
	<div class="inner_container">
		<app-nav></app-nav>

		<div class="full inner_elements">
			<div class="full graph_head">
				<div class="heading1 ">
					<h2>Les notes attribué a Filiale le
						{{currentDate | date:'yyyy-MM-dd'}}
						<br>
						{{maintenant}}
					</h2>
				</div>


			</div>
			<form [formGroup]="formCum">


			<!--	<div>
					<div>
						<div class="">
							<select class="form-control" formControlName="filialeId" (click)="refreshLocList()">
								<option *ngFor="let fil of filList " [value]="fil.filialId">
									{{fil.filialName}}
								</option>
							</select>


						</div>

					</div>
					<div>
						<div class="">
							<select class="form-control" formControlName="filLocalid" *ngIf="isShown" (click)="refrechNote()" (click)="refreshSum()">

								<option value="" disabled selected hidden>Local
								</option>
								<option *ngFor="let loc of LocalList " [value]="loc.locallId">
									{{loc.localdescription}}
								</option>
							</select>


						</div>
					</div>

				</div>-->
				<table style="margin-top: 150px;">
					<tr>
							<td><label>Sélectionnez une filiale :</label> &nbsp;</td>
					<td>
							<select class="form-control" formControlName="filialeId" (click)="refreshLocList()">
								<option *ngFor="let fil of filList " [value]="fil.filialId">
									{{fil.filialName}}
								</option>
							</select>
							
						</td>
						<td>
							<label>&nbsp; Sélectionnez un locale : &nbsp;</label>
						</td>
						<td>
							<select class="form-control" formControlName="filLocalid" *ngIf="isShown" (change)="refrechNote()">

								<option value="" disabled selected hidden>Local
								</option>
								<option *ngFor="let loc of LocalList " [value]="loc.locallId">
									{{loc.localdescription}}
								</option>
							</select>
							

						</td>
						<td>

						<label>&nbsp; Sélectionnez une date : &nbsp;</label>
						</td>
						<td>
							<input class="form-control" type="date" formControlName="noteDate" >
						</td>
			</tr>
			</table>
			</form>
			<div class="row">
				<div class="col-md-12">
					<div class="tab_style2">
						<div class="tabbar padding_infor_info">
							
							<div class="tab-content" id="nav-tabContent_2" *ngIf="isShown">
								<div class="tab-pane fade show active" id="nav-home_s2" role="tabpanel" aria-labelledby="nav-home-tab">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th>criteres</th>
												<th>Note</th>
												<th>
													<i class="fa fa-star-half-o" aria-hidden="true"></i>
												</th>
												<th>comentaire</th>
												<th colspan="2">Reclamation</th>
											</tr>
										</thead>

										<tbody>
											<tr  *ngFor="let i of NoteList" (click)="refrechgetNote(i)" (click)="refrechcritere(i)"  >

												<td>{{cri.criterelabel}}</td>
												<td>
													<div class="input-group mb-3">

														{{i.note}}

													</div>
												</td>
												<td>CR

												</td>
												<td>
													{{i.comment}}
												</td>

												<td>

													<button type="button"   class="btn fa fa-exclamation-circle btn-light mr-1" data-toggle="modal" data-target="#exampleModal" (click)="ChangeData(i)" ng-disabled="note"></button>

													<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<h5 class="modal-title" id="exampleModalLabel">Reclamation</h5>
																	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																		<span aria-hidden="true">&times;</span>
																	</button>
																</div>
																<div class="modal-body">
																	<div class="card">
																		<form (ngSubmit)='saveData()' [formGroup]="planService.formCum">
                           

 
																			<div class="form-row">
																				<div class="col-9">
																					<label>Critere :

																					</label>
																					<input value="{{cri.criterelabel}}" type="text" class="form-control" class="form-control input-sm" placeholder="critere" readonly>
																				</div>
																				<div class="col-9">
																					<label>Note  :
																					</label>
																					<input type="text" value="{{Noteget.note}}" class=" form-control" class=" form-control input-sm" placeholder="note" readonly>
																				</div>
																				<div class=" col-9">
																					<label>Commentaire :
																					</label>
																					<input type="text" value="{{Noteget.comment}}" class="form-control" class="form-control input-sm" placeholder="comment" readonly>
																				</div>
																				<div class="col-9">
																					<label>Date Limite :
																					</label>
																					<input type="date"   name="party" value="maintenant" formControlName="planDate" style="margin-top: 5%;">
																				</div>
																				<div class="col-9">
																					<img [src]="PhotoFilePath" style="width: 200px; margin-top: 5%;" alt="#"/>
																				</div>
																				<div class="col-md-9 mb-3">
																					<label for="w3review">Reclamation:</label>
																					<textarea id="w3review" name="w3review" rows="4" cols="50" formControlName="plandescription">
																						le plan a suivre</textarea>
																				</div>

																				<div class="col-md-6 mb-3">
																					<input type="file" id="file" class="mt-2" formControlName="image"/>
																					<label for="file" id="photo">
																						<i class="fa-solid fa-camera"></i>
																						choisir une image
																					</label>

																					<div class="form-check form-switch">
																						<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
																						<label class="form-check-label" for="flexSwitchCheckChecked">Taches faites
																						</label>
																					</div>
																				</div>
																			</div>
																			<button type="button" class="btn btn-primary float-left" type="submit">Enregister
																			</button>
																		</form>

																		<div class="card-body"></div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</td>
											</tr>
										</tbody>
 

									</table>
<div class="text-center">  
                          <span class="label label-default" style="color:orange" >  Moyenne:</span>            
  <span class="label label-default"  >  {{sum}}</span>
                                    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>


	<!--expanding input field -->
