<!--Login Pluto
<body class="inner_page login">
  <div class="full_container">
     <div class="container">
        <div class="center verticle_center full_height">
           <div class="login_section" style="opacity: 0;">
              <div class="logo_login">
                 <div class="center">
                    <img width="100px" src="assets/images/polinalogo.png" alt="#" />
                 </div>

              </div>
              <div class="login_form">
                 <form>
                    <fieldset>
                       <div class="field">
                          <label class="label_field">Email Address</label>
                          <input type="email" name="email" placeholder="E-mail" />
                       </div>
                       <div class="field">
                          <label class="label_field">Password</label>
                          <input type="password" name="password" placeholder="Password" />
                       </div>
                       <div class="field">
                          <label class="label_field hidden">hidden label</label>
                          <label class="form-check-label"><input type="checkbox" class="form-check-input"> Remember Me</label>
                          <a class="forgot" href="">Forgotten Password?</a>
                       </div>
                       <div class="field margin_0">
                          <label class="label_field hidden">hidden label</label>
                          <button class="main_bt">Sing In</button>
                       </div>
                    </fieldset>
                 </form>
              </div>
           </div>
        </div>
     </div>
  </div>
</body>
-->
<!--Transapent 1
<body>
	<div class="form-box">
		<div class="header-text">
			Login Form
		</div><input placeholder="Your Email Address" type="text"> 
    <input placeholder="Your Password" type="password">
     <input id="terms" type="checkbox">
     <button>login</button>
	</div>
</body>-->

<body>
   <head>
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

   </head>
  <div class="content">
    <img style="width: 50px;" src="https://cdn-icons-png.flaticon.com/512/5087/5087579.png">
    <div class="text">Bienvenue</div>
    <form (ngSubmit)='LogOn()' [formGroup]="formLog">
      <div class="field">
        <span class="fa fa-user"></span>
        <input type="text" placeholder="Matricule" formControlName="matricule" required>
      </div>
      <div class="field">
        <span class="fa fa-lock"></span>
        <input type="password" placeholder="Mot de Passe " formControlName="password">
      </div>
    </form>
    <button (click)="LogOn()">se conencter </button>

  </div>
</body>